<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-11">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Simple Table
        </div>
        <div class="card-body">
          <ng-template [ngIf]="url == 'sub-category'" [ngIfElse]="categoryurl">
            <td>
                <button type="button" class="btn btn-info"  [routerLink]="['/subcategory/sub-category-add']">Add New Sub Category</button>
            </td>
          </ng-template>
          <ng-template #categoryurl>
              <div>
                  <button type="button" class="btn btn-info"  [routerLink]="['/category/category-add']">Add New Category</button>
              </div>
          </ng-template>
      <br />
      <br />
          <table class="table">
            <thead>
              <tr>
                <th>Id</th>
                <th>Name</th>
                
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let cat of category_list">
                <td>{{cat.id}}</td>
                <td>{{cat.name}}</td>
                <ng-template [ngIf]="url == 'sub-category'" [ngIfElse]="loggedOut">
                  <td>
                    {{cat.category.name}}
                  </td>
                </ng-template>
                <ng-template #loggedOut>
                    <td  #noname>--NA--</td>
                </ng-template>
                <td>
                  <ng-template [ngIf]="url == 'sub-category'" [ngIfElse]="categoryEdit">
                        <button class="btn btn-warning" [routerLink]="['/subcategory/sub-category-edit', cat.id]">Edit</button>&nbsp;&nbsp;
                  </ng-template>
                  <ng-template #categoryEdit>
                      <button class="btn btn-warning" [routerLink]="['/category/category-edit', cat.id]">Edit</button>&nbsp;&nbsp;
                  </ng-template>
                  <button class="btn btn-danger" (click)="remove(cat)">Delete</button>
                </td>
              </tr>
            </tbody>
          </table>
          <!--
          <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Prev</a></li>
            <li class="page-item active">
              <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
          </ul>
          -->
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>

