
<form class="form-horizontal" #frm="ngForm" (ngSubmit)="save()">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">Add New Uom</h4>
      <button type="button" class="close" (click)="activeModal.dismiss('Cross click')" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="card">
        <div class="card-header">
        <strong>Uom</strong> Form</div>
        <div class="card-body">
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="hf-email">Uom Name</label>
              <div class="col-md-9">
                <input type="text" class="form-control" id="name" required [(ngModel)]="uom.name" name="name" placeholder="Enter Uom Name..">
                <!--<span class="help-block">Please enter your email</span>-->
                <input type="hidden" class="form-control" id="id"  [(ngModel)]="uom.id" name="id">
              </div>
            </div>
            
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss('Close clicked')">Close</button>
      <button type="submit" class="btn btn-primary" >Save changes</button>
    </div>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->

</form>
