<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-11">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Simple Table
        </div>
        <div class="card-body">
			  <button type="button" class="btn btn-info"  [routerLink]="['/accounts/account-add']">Add New Account</button>
                <br />
                <br />
          <table class="table">
            <thead>
              <tr>
                <th>Id</th>
								<th>Name</th>
                <th>Type</th>
                <th>Effective Date</th>
                <th>Balance</th>
                <th>Default Acc</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let account of account_list">
                <td>{{account.id}}</td>
                <td>{{account.name}}</td>
                <td>{{account.accountType}}</td>
                <td>{{account.effectiveDate}}</td>
                <td>{{account.balance}}</td>
                <td>{{account.defaultAccSts}}</td>
                <td><button class="btn btn-warning" [routerLink]="['/accounts/account-edit', account.id]"><i class="fa fa-pencil"></i></button>&nbsp;&nbsp;
                    <button class="btn btn-danger" (click)="remove(account)"><i class="fa fa-trash-o"></i></button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>
